@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ISAD</h1>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Html.Partial("_Script")

    <script>
    $(document).ready(function () {

    });
    </script>

}